.fav-container {
    width: 100%;
    display: flex;
    padding: 0 10px;
    margin: 0 auto;
}

/* --------------- MOBILE ------------------ */
@media screen and (min-width: 375px) {
    .fav-container {
        width: 375px;
        padding: 0 20px;
    }
}
/* --------------- tABLET ----------------- */
@media screen and (min-width: 768px) {
    .fav-container {
        width: 768px;
        padding: 0 32px;
    }
}
/* -------------- DESCTOP ------------------ */
@media screen and (min-width: 1280px) {
    .fav-container {
        width: 1280px;
        padding: 0 100px;
    }
}